* {
  font-family: "Tahoma";
}

body {
  background-color: black;
}

.title {
  background-image: url("./assets/starry.jpeg");
  border: 4pt dotted yellow;
  border-radius: 20px;
  margin: 35px;
  padding: 35px;
}

.paper-title {
  margin-left: 20%;
}

.scissors-title {
  margin-left: 40%;
}

.spicy-title1 {
  margin-left: 65%;
}

.spicy-title2 {
  margin-left: 85%;
}

h1 {
  color: darkgray;
  font-size: 200%;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

h2, .choose-buddy-text, .choose-game-view-text {
  color: magenta;
  font-size: 150%;
  margin: 50px;
  margin-top: 50px;
  text-align: center;
}

h3 {
  color: magenta;
  font-size: 400%;
  margin-bottom: 2px;
  text-align: center;
}

h4 {
  color: blue;
  font-size: 115%;
  margin-bottom: 1px;
  margin-top: 1px;
  text-align: center;
}

.user-win-count, .computer-win-count {
  color: magenta;
  text-align: center;
}

.columns {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.buddies-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.game-choice-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
  margin: 10px;
}

.game-spicy, .game-classic {
  background-image: radial-gradient(black, blue, indigo, green, blue, blueviolet, green, blueviolet, indigo, blue, lightgreen);
  border: 4pt dotted yellow;
  border-radius: 20%;
  color: yellow;
  font-size: 18pt;
  font-weight: bolder;
  height: 470px;
  width: 400px;
}

.reset-score-and-game-container {
  display: flex;
  gap: 20%;
}

.go-home, .score-reset {
  background-image: radial-gradient(black, blue, indigo, green, blue, blueviolet, green, blueviolet, indigo, blue, lightgreen);
  border: 4pt dotted yellow;
  border-radius: 20%;
  color: yellow;
  font-size: 18pt;
  font-weight: bolder;
  height: 100px;
  margin-top: 25px;
  width: 315px;
}

.choose-buddy-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.spicy-buds, .classic-buds {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 12pt;
  font-weight: lighter;
  margin: 15px;
}

img {
  background-image: url("./assets/starry.jpeg");
  border: dotted #39ff14 4px;
  border-radius: 100px;
  height: 175px;
  margin: 18px;
  margin-top: 50px;
  width: 175px;
  padding: 5px;
}

.hidden {
  display: none;
}
