* {
 border: 1px solid purple;
  font-family: "Tahoma";
  font-weight: lighter;
}

/* body {
  background-image: radial-gradient(pink, blue, purple);
} */


p {
  margin: 2px;
  font-size: 10pt;
  font-weight: lighter;
}

.title {
  border: dotted 3pt;
}

h1 {
  /* color: white; */
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 69pt;
}

h2, h3 {
  text-align: center;
  margin-bottom: 5px;
}

h4 {
  margin-top: 1px;
}

.paper{
  text-align: center;
}

.scissors{
  text-align: right;
}

.columns {
  display:flex;
  justify-content: space-around;
  align-content: center;
  /* padding: 20px */
}

.player-column-left {
  align-self: flex-start;
  padding: 20px;
  font-size: 12pt;
}

.player-column-right{
  align-self: flex-end;
  padding: 20px;
  font-size: 12pt;
}

/* .choose-game-level-text {
  justify-content: center;
}

.middle-column-choose-buddy-view {

} */

/* .game-choice-button-container{
} */
