* {
  font-family: "Tahoma";
}

body {
  background-color: black;
}

.title {
  border: dotted #39ff14 10px;
  padding: 5px;
    background-image: url("./assets/starry.jpeg");
}

h1 {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 200%;
  color: darkgray;
}

h2, .choose-buddy-text, .choose-game-view-text {
  text-align: center;
  margin-top: 100px;
  font-size: 150%;
  color: magenta;
}

h3 {
  text-align: center;
  margin-bottom: 2px;
  font-size: 400%;
  color: magenta;
}

h4 {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 115%;
  color: blue;
}

.paper-title {
  margin-left: 20%;
}

.scissors-title {
  margin-left: 40%;
}

.spicy-title1 {
  margin-left: 65%;
}

.spicy-title2 {
  margin-left: 82%;
}

.user-win-count, .computer-win-count {
  text-align: center;
  margin-top: 2px;
  color: magenta;
}

.columns {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.player-column-left, .player-column-right {
  padding: 40px;
  font-size: 12pt;
  margin-bottom: 2px;
  height: 50%;
}

.game-choice-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

button {
  background-image: radial-gradient(pink, blue, indigo, green, blue, blueviolet, green, blueviolet, indigo, blue, lightgreen);
  color: yellow;
  border: 8pt dotted yellow;
  font-weight: bolder;
  height: 400px;
  width: 250px;
  border-radius: 7px;
  margin: 65px;
  font-size: 18pt;
}

p {
  margin: 15px;
  font-size: 12pt;
  font-weight: lighter;
  align-items: center;
}

.chooseBuddyView {
  height:auto;
  width:auto;
}

.buddies-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
}


img {
  height: 100px;
  width: 100px;
  margin: 18px;
  margin-top: 50px;
  padding: 5px;
  border: dotted #39ff14 4px;
  border-radius: 6px;
  background-image: url("./assets/starry.jpeg");
}

.hidden {
  display: none;
}
