* {
 border: 1px solid purple;
  font-family: "Tahoma";
  font-weight: lighter;
}

/* body {
  background-image: radial-gradient(pink, blue, purple);
} */

.title {
  border: dotted 3pt;
}

h1 {
  /* color: white; */
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40pt;
  font-weight: bold;
}

h2, h3 {
  text-align: center;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 18pt;
}

h4 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.paper{
  text-align: center;
}

.scissors{
  text-align: right;
}

.columns {
  display:flex;
  justify-content: space-around;
  align-content: center;
}

.player-column-left {
  padding: 40px;
  font-size: 12pt;
  margin-bottom: 2px;
}

.player-column-right{
  padding: 40px;
  font-size: 12pt;
}

.user-win-count, .computer-win-count {
  margin-top: 2px;
  height: 20px;
  width: 20px;
}


/* .choose-game-level-text {
  justify-content: center;
}

.middle-column-choose-buddy-view {

} */

.game-choice-container{
  display: flex;
  align-content: center;
  justify-content: center;
}

button {
  background-color: black;
  color: lightgreen;
  font-weight: bolder;
  height: 400px;
  width: 250px;
  border-radius: 7px;
  margin: 15px;
  font-size: 16pt;
}

p {
  margin: 2px;
  font-size: 8pt;
  font-weight: lighter;
}
